body {
  background-image:url(http://media.tumblr.com/tumblr_m15d6mXheB1qe92a9.jpg);

}


h1{
  font-family: 'Kurale', serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #d87979;
}

h1:hover{
  transform: rotateX(360);
}

p{
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
  text-align: center;
  color: black;
}

#webpages{
  font-family: 'Kurale';
  font-size: 36px;
  text-align: left;
  color: #d87979;
  text-align: left;
}

li {
  font-size: 36px;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  color: black;
}

lh{
  font-weight:bold;
}

ul{
  font-family: 'Kurale';
  font-size: 40px;
  color: #d87979;
  text-align: left;

}
ol{
  font-family: 'Kurale';
  font-size: 40px;
  color: #d87979;
}

#dislikes{
  font-size: 45px;
  padding-right: 250px;
}

#likes{
  padding-left: 250px;
  font-size: 45px;

}

.half-width {
  width: 50%;
  float: left;
  padding: 50px;
  box-sizing: border-box;

}
#dasher{
  height: 40vh;
  width: 80%;
}
#fam{
  width: 105%;
  height: 40vh;
}
#me{
  height: 40vh;
  width:80%;
}

.next{
  width: 32%;
  float: left;
  box-sizing: border-box;
  padding-left: 75px;

}

.scratch{
 text-align:center;
}

h2{
  font-size: 36px;
  font-family: 'Kurale';
  padding-top: 470px;
  color: #d87979;
  float: none;
  text-align: center;
}

h3{
  text-align: center;
  font-size: 36px;
  font-family: 'Kurale';
  padding-top: 10px;
  color: #d87979;
}

#mtc{
  width: 30%;
  height: 40vh;
  float: left;
}

#firstpic{
  width: 30%;
  height: 40vh;
  float: left;
}

#linkedin{
  width: 30%;
  height: 40vh;
  float:right;
}

#bowling{
  width: 30%;
  height: 40vh;
  float: left;
}

.gwc_pics{
  float: left;
  width: 20%;
  box-sizing: border-box;
}
